* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #eef2ff;
}

.navcontainer {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: #1b387c;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #a855f7, #3b82f6);
    border-radius: 100%;
    font-size: 30px;
    color: white;
    padding: 5px;
}

.addbtn button {
    width: 60px;
    height: 60px;
    background-color: #1b387c;
    color: white;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 100%;
    border: none;
}

.addbtn button:hover {
    background: linear-gradient(135deg, #973bed, #0262fc);
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* overlay background */

.overlayback {
    position: absolute;
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 2;
    display: none;
}

/* overlayinput */

.overlay {
    background-color: #1b387c;
    color: white;
    width: 40%;
    height: 35%;
    margin: 20px;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 27%;
    border-radius: 20px;
    z-index: 3;
    display: none;
}

.overlay p {
    padding: 10px;
}

.overlay input {
    padding: 10px;
    width: 80%;
    background-color: transparent;
    border-bottom: white;
    border: none;
    border-bottom: 1px white solid;
    color: gainsboro;
}

.overlay input[type="date"],
input[type="time"] {
    color-scheme: dark;
}

.overlay input::placeholder {
    color: gainsboro;
}

.overlay input:focus {
    outline: none;
}

.overlay button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #a855f7, #3b82f6);
    border-radius: 100%;
    font-size: 20px;
    color: white;
    border: none;
}

.overlay h3 {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 20px;
}
.overlay h3:hover{
    color: #049294;;
}
.overlay button:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #80e9eb, #8a7dd3);
}


/* taskcard-child */

.taskcard{
    width: 60%;
    min-height: 50px;
    height: auto;
    background-color: white;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 30%;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.taskstatus{
    display: flex;
    position: sticky;
    padding: 20px;
    color: #1b387c;
}
.taskcard input[type="checkbox"]{
    accent-color: #0a66fa;
    cursor: pointer;
}
.inner-taskcard2:hover{
    color: #049294;
}

@media screen and (max-width: 1024px) {
    .overlay {
        width: 60%;    
        height: auto; 
        left: 18%;   
    }
    .overlay{
        padding: 20px;
    }
     .taskcard{
        margin: 10px;
        margin-left: 14px;
        margin-top: 20px;
        width: 85%;
   }
   
}
@media screen and (max-width: 600px) {
    .overlay {
        width: 90%;    
        height: 55vh;
        top :10px;
        left: 10px;
        border-radius: 20px;
        margin: 0; 
        box-sizing: border-box;
    }
    .parentcard{
        display: none;
    }
   .taskcard{
        margin: 5px;
        margin-left: 4px;
        margin-top: 20px;
        width: 85%;
   }
}